<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div style="position:absolute; top:30vh; width:100%; text-align:center">
                <h1>404</h1>
                <p>There is nothing here!</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
